.title {
  font-family: Verdana;
  font-size: 25px;
  color: red;
  font-weight: bold;
}

.sub-title,
.destacados {
  font-size: 15px;
  font-family: Verdana;
}

.destacados {
  background: #ff6600;
}

.auto-card {
  width: 150px;
}
